.list-group {
    justify-content: flex-end;
    display: flex;
}

.list-group-item{
    list-style-type: none;
    text-align: left;
}

.checkbox{
    justify-content: flex-end;
    display: flex;
}

.important{
    background-color: yellow;
}